* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: gray;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogioPonteiros {
    width: 90vmin;
    height: 90vmin;
    max-width: 600px;
    max-height: 600px;
    color: blue;
    background-color: #222;
    border-radius: 50%;
    border: 1.5vmin solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display {
    font-family: 'Courier New', monospace;
    font-size: 9rem;
    color: #39FF14;
    text-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14;
    letter-spacing: 3px;
}

.relogioDigital {
    width: 80%;
    height: auto;
    font-size: 9rem;
    color: #39FF14;
    background-color: #222;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.numero {
    font-size: 1.9rem;
    font-weight: 600;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1px;
}

.numero-1  { transform: rotate(30deg); }
.numero-2  { transform: rotate(60deg); }
.numero-3  { transform: rotate(90deg); }
.numero-4  { transform: rotate(120deg); }
.numero-5  { transform: rotate(150deg); }
.numero-6  { transform: rotate(180deg); }
.numero-7  { transform: rotate(210deg); }
.numero-8  { transform: rotate(240deg); }
.numero-9  { transform: rotate(270deg); }
.numero-10 { transform: rotate(300deg); }
.numero-11 { transform: rotate(330deg); }
.numero-12 { transform: rotate(360deg); }

.marcadores {
    position: absolute;
    width: 100%;
    height: 100%;
}

.marcador {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 10px;
    background-color: #aaa;
}

.bolinha {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2vmin;
    height: 2vmin;
    background-color: red;
    border-radius: 50%;
    transform-origin: center center;
    z-index: 5;
}

.dataDisplay {
    position: absolute;
    top: calc(50% + 20vmin);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #39FF14;
    text-shadow: 0 0 5px #39FF14;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    z-index: 10;
}

@media (max-width: 600px) {
    .display {
        font-size: 4rem;
    }
    
    .numero {
        font-size: 1rem;
    }
    
    .relogioDigital {
        font-size: 4rem;
    }
    
    .dataDisplay {
        font-size: 1rem;
        top: calc(50% + 20vmin);
    }
    
    .marcador {
        height: 6px;
    }
}

.cidadeDisplay {
    position: absolute;
    top: calc(50% + 25vmin);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: #39FF14;
    text-shadow: 0 0 3px #39FF14;
    font-family: 'Orbitron', sans-serif;
    z-index: 10;
}

@media (max-width: 600px) {
    .cidadeDisplay{
        font-size: 1rem;
        top: calc(50% + 25vmin);
    }    
}

.temperaturaDisplay {
    position: absolute;
    top: calc(50% + 25vmin);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #39FF14;
    text-shadow: 0 0 5px #39FF14;
    text-align: center;
    font-family: 'Orbritron', sans-serif;
    z-index: 10;
}

.infoRelogio {
    position: absolute;
    display: inline;
    justify-content: center;
    top: -4%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #39FF14;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    line-height: 1;
    z-index: 10;
}
.cidadeDisplay,
.temperaturaDisplay {
  margin: 0;
  padding: 1px 0;
}